@import "variables";

.Today {
  border-radius: 18px;
  background-color: $light-purple;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;

  p {
    color: $white;
    font-size: 20px;
  }

  h1 {
    color: $white;
    font-size: 32px;
    margin-left: 11px;
  }

  .result {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      width: auto;
      height: 70px;
      margin-right: 20px;

      img {
        height: 100%;
        width: auto;
      }
    }

    span {
      color: $white;
      font-size: 53px;
    }
  }

  .sun {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }

      img {
        height: 50px;
        width: auto;
        margin-right: 10px;
      }

      span {
        font-size: 16px;
        color: $white;
      }
    }
  }
}